*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
    background-color: lightblue;
    color: darkblue;
}

.header-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 100%;
    background-color: lightblue;
    color: darkblue;
}

.play-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    width: 100%;
    background-color: burlywood;
}

.card-container{
    margin: 10px;
    padding: 10px;
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 5% 1%;
    perspective: 800px;
}  

.card, .card-front, .card-back{
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;
    width: 100%; 
} 

.card{
    position: relative;
    transform-style: preserve-3d;
    transition: 1s ease;
    box-shadow: (0,0,0,0.5) 0px 5px 10px;
    
}

.card-front, 
.card-back{
    position: absolute;
    pointer-events: none;
}

.card-front{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    padding: 50% 0 50%;
    transform: rotateY(180deg);
    background-color:chartreuse;
}
.card-back{
    background-color: grey;
    backface-visibility: hidden;
}

.toggle-card{
    transform: rotateY(180deg);
    pointer-events: none;
    transition-delay: 10ms;
}

