@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.header {
  margin: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  width: 100%;
  background-color: transparent;
  color: darkblue;
}

@media only screen and (max-width: 500px) {
  .header {
    margin: 5px;
  }
}

.header h1 {
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .header h1 {
    margin: 5px;
    font-size: 21px;
  }
}

.header p {
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .header {
    margin: 5px;
    font-size: 18px;
  }
}

.play-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 100%;
}

.card-container {
  margin: 10px;
  padding: 10px;
  width: auto;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (8rem)[4];
      grid-template-columns: repeat(4, 8rem);
  -ms-grid-rows: (8rem)[3];
      grid-template-rows: repeat(3, 8rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4rem 4rem;
  -webkit-perspective: 800px;
          perspective: 800px;
}

@media only screen and (max-width: 750px) {
  .card-container {
    -ms-grid-columns: (100px)[4];
        grid-template-columns: repeat(4, 100px);
    -ms-grid-rows: (100px)[3];
        grid-template-rows: repeat(3, 100px);
    gap: 2rem 2rem;
  }
}

@media only screen and (max-width: 500px) {
  .card-container {
    -ms-grid-columns: (80px)[4];
        grid-template-columns: repeat(4, 80px);
    -ms-grid-rows: (80px)[3];
        grid-template-rows: repeat(3, 80px);
    gap: 2rem 2rem;
  }
}

@media only screen and (max-width: 425px) {
  .card-container {
    -ms-grid-columns: (60px)[3];
        grid-template-columns: repeat(3, 60px);
    -ms-grid-rows: (60px)[4];
        grid-template-rows: repeat(4, 60px);
    gap: 3rem 3rem;
  }
}

.card, .card-front, .card-back {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .card, .card-front, .card-back {
    height: 100%;
    width: 100%;
  }
}

.card {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-box-shadow: 0, 0, 0, 0.5 0px 5px 10px;
          box-shadow: 0, 0, 0, 0.5 0px 5px 10px;
}

.card-front,
.card-back {
  position: absolute;
  pointer-events: none;
}

.card-front {
  text-align: center;
  font-size: 23px;
  font-weight: bolder;
  padding: auto;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: white;
}

@media only screen and (max-width: 500px) {
  .card-front {
    font-size: 18px;
  }
}

.card-back {
  border: 2px solid whitesmoke;
  background-color: lightblue;
  font-size: 50px;
  padding: 25% 0 25%;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media only screen and (max-width: 750px) {
  .card-back {
    font-size: 35px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 500px) {
  .card-back {
    font-size: 25px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 425px) {
  .card-back {
    font-size: 21px;
    font-weight: bold;
  }
}

.toggle-card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  pointer-events: none;
  -webkit-transition-delay: 10ms;
          transition-delay: 10ms;
}
/*# sourceMappingURL=styles.css.map */